<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributor's Page</title>
    <link rel="icon" type="image/x-icon" href="../../dcodeKi-app/logo.png">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="./contributors.css">
</head>
<body>
        <!-- Contributors section -->
        <div class="contributors">
            <h2 class="heading">Our Valuable Contributors</h2>
            <div id="contributor">
                <!-- <div class="contributor-card">
                    <a href="" target="_blank"><img src="" alt=""></a>
                </div> -->
            </div>
            <div class="admin">
                <h1>Project Admin</h1>
                <p>Hello! I am Pankaj Barman,  Pen-testing and web-dev are my fields of interest.</p>
                <h3>Connect Me</h3>
                <ul class="info-details">
                    <li>
                        <i class="logo-mail"></i>
                        <span>Email:</span>
                        <a href="mailto:pb2538@cse.jgec.ac.in">pb2538@cse.jgec.ac.in</a>
                    </li>
                    <li>
                        <i class="fas fa-globe"></i>
                        <span>Github:</span>
                        <a href="https://github.com/Pankaj0038">https://github.com/Pankaj0038</a>
                    </li>
                    <li>
                        <i class="fas fa-globe"></i>
                        <span>Linkedin:</span>
                        <a href="https://www.linkedin.com/in/pankaj-barman-737b97224/">https://www.linkedin.com/in/pankaj-barman-737b97224/</a>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="footer">
        </div>
        <ul class="social-icon">
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
            <ion-icon name="logo-github"></ion-icon>
            </a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
            <ion-icon name="logo-twitter"></ion-icon>
            </a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
            </a>
        </li>
        </ul>
    <p>&copy;2024 Pankaj Barman | All Rights Reserved</p>
    </footer>
    <script src="./contributor.js">
        <!-- fetchAllContributors();
        console.log("print");
        fetchAllContributors();
        fetchAllContributors(); -->
    </script>
    <script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
</body>
</html>
