.nav-bar {
    width: 100%;  
    height: 80px; 
    background-color: dimgrey; 
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px; 
}
a {
    float: right;
    padding: 8px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 50px; 
    line-height: 80px;  
}
