<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download Page</title>
  <link rel="icon" type="image/x-icon" href="../../dcodeKi-app/logo.png">
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="./download.css">
</head>

<body>
  <h2 class="card-container-heading">Download Your Files</h2>
  <!-- <div class="encoders-card-container">
    <div class="encoder-card"><h3>B64 Decode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>B64 Encode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>ROT13</h3><button>Download</button></div>
    <div class="encoder-card"><h3>ROT47</h3><button>Download</button></div>
    <div class="encoder-card"><h3>ROT Decode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>B32 Encode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Binary Encode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Binary Decode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Hex Encode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Hex Decode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>XOR Encode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Morse Encode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Morse Decode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Vigenere Encode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Vigenere Decode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Atbash Cipher</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Octal Encode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Octal Decode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>ROT8000 Encode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>ROT8000 Decode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Base58 Decode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Base58 Encode</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Reverse</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Upper</h3><button>Download</button></div>
    <div class="encoder-card"><h3>Lower</h3><button>Download</button></div>
  </div> -->

  <div class="downloadCard encoders-card-container">
    <button>Windows <img src="https://kivy.org/doc/stable/_images/windows.png" alt="">
    </button>
    <button>Linux <img src="https://kivy.org/doc/stable/_images/linux.png" alt=""></button>
    <button>macOS <img src="https://kivy.org/doc/stable/_images/macosx.png" alt=""></button>
    <button>Android <img src="https://kivy.org/doc/stable/_images/android.png" alt=""></button>
  </div>
  <footer class="footer alter">
    </div>
    <ul class="social-icon">
      <li class="social-icon__item">
        <a class="social-icon__link" href="#">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
      </li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>
    </ul>
    <p>&copy;2024 Pankaj Barman | All Rights Reserved</p>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    var tl = gsap.timeline();

    tl.from(".card-container-heading", {
      opacity: 0,
      scale:1.2,
      delay: 0.5,
      duration: 1,
    })

    tl.from(".encoders-card-container button", {
      duration: 1,
      opacity: 0,
      scale:1.2,
    })
    tl.from("footer", {
      opacity: 0,
    })

  </script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>